.navbar {
    background: linear-gradient(#31444b, #69777C);
    color: white;
}

.navbar-brand {
    color: white;
    font-size: 30px;
    margin-right: 50px;
}

.navbar-nav {
    color: white;
}

li {
    color: white;
}

.navbar a {
    color: white;
    font-size: 25px;
}

