body {
    font-family: Roboto, sans-serif;
    background-color: #7C8D93;
    background-size: cover;
}

header {
    margin-bottom: 0px;
    background-color: #35697b;
    color: white;
    font-size: 25px;
}

form {
    background-color: #7C8D93;
    margin-top: 0;
}

input {
    margin-left: 2px;
    width: 25%;
    border-radius: 5px;
    background-color: 7C8D93;
    height: 35px;
    font-size: 20px;
    margin: 5px 20px;
    padding: 3px;
}

button {
    width: 15%;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    margin: 5px 20px;
    padding: 3px;
}

select {
    width: 25.5%;
    border-radius: 5px;
    background-color: 7C8D93;
    height: 41px;
    font-size: 20px;
    margin: 5px 22px;
}

h1 {
    text-align: center;
    padding: 5px;
/*    background-color: #3d5861;*/
    background: linear-gradient(gray, #31444b);
/*    background: linear-gradient (#2D3E45, #A1AAAD);*/
    color: white;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    padding-top: 10px;
    font-weight: 750;
    margin: 10px;
    color: #143365;
}

::placeholder {
   color: #b5b1b1; 
}

ul {
    list-style-type: none;
    padding-top: 5px;
    margin-top: 0px;
    margin-left: 0px;

}

li {
    float: left;
    padding: 5px;
}
    

li a{
    display: block;
    color:white;
    text-align: center;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 10px;
    text-decoration: none;
    cursor: pointer;
}

li a:hover{
    background-color: cadetblue;
}

.right {
    float: right;
}

.actionButtons {
    margin-bottom: 15px;
}

.active {
    background-color: cadetblue;
}